@import '../../global/style/utils.scss';

.button {
  @include transition(transform, box-shadow);
  @include blink();

  background: $yellow;
  min-width: 245px;
  height: 50px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  letter-spacing: -.5px;
  color: $black;
  //display: inline-flex;
  //align-items: center;
  //justify-content: center;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  margin-bottom: 1px;
  text-decoration: none !important;


  &:hover {
    background: $yellowHover;
    transform: translateY(-1px);
    box-shadow: 0 2px 3px rgba($generalBg, .5);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }
}

.button:hover {
  @include blinkActive();
}

.button svg {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}