@import '../../global/style/utils.scss';

.editor {
  position: relative;
  width: 600px;
  outline: 3px black solid;

}

.editor__left-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  outline: 1px cyan solid;
  z-index: z-index('editorPanel');
}

.editor__right-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  outline: 1px hotpink solid;
  min-height: 200px;
  z-index: z-index('editorPanel');
}


.wrapper {
  flex: 1;
  margin-left: 89px;
}

.workspace {
  width: 200px;
  height: 200px;
  margin: 25px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #fff;
}
