@import '../../global/style/utils.scss';

.editorStage {
  z-index: z-index(editor);

  position: relative;
  width: 100%;
  background-image: url('./assets/bg.png');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding-bottom: 250px;
  overflow: hidden;
}

.editor {
  position: relative;
  width: 750px;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editor__left-panel {
  @include stretch;

  right: auto;
  width: 110px;
  height: 535px;
  z-index: z-index('editorPanel');
}

.editor__right-panel {
  @include stretch;

  height: 535px;
  left: auto;
  width: 110px;
  min-height: 200px;
  z-index: z-index('editorPanel');
}

.editor__photo-taker {
  @include stretch();

  top: 20px;
  bottom: auto;
  z-index: z-index('photoTaker');
}

.photoBg {
  @include stretch;
  bottom: auto;
  width: $editor-w;
  height: $editor-h;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.wrapper {
  flex: 1;
  padding: 20px 0;
}


.wrapper::after {
  content: '';
  background-image: url('./assets/ramka.png');
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  display: block;
  width: $editor-w + 24px;
  height: $editor-h + 24px;
  @include stretch();
  top: 10px;
  bottom: auto;
  pointer-events: none;
  z-index: z-index('borderDecoration');
}

.svgBg {
  @include stretch();
  width: 410px;
  * {
    fill: rgba(#1c2827, .7);
  }
}

.workspace {
  position: relative;
  margin: 0 auto;
  background-color: #050708;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: z-index(editorWorkspace);
}

.resultCanvas {
  top: 20px;
  @include stretch();
  height: $editor-h;
  width: $editor-w;
  z-index: z-index(canvas);
}

.finishButtonBlock {
  @include stretch();
  top: 100%;
  bottom: auto;
  margin: auto;
  display: block;
  text-align: center;
  padding-top: 20px;
}

.editorDescription {
  padding-top: 50px;
  width: 790px;
  text-align: center;
  margin: auto;
}

.editorDescription__icon {
  margin: auto;
  height: 55px;
  width: 200px;
  margin-bottom: 20px;
}

.pumpkinIcon {
  fill: $mediumGreen;
}

.editorDescription__title {
  text-transform: uppercase;
  color: $fontColorWhite;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 20px;
}

.editorDescription__text {
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 1.6;
}

.trashBin {
  @include stretch();
  @include transition(top, opacity);

  transition-duration:.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  pointer-events: none;
  top: $editor-h - 35px;
  bottom: auto;
  background-color: $white;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  z-index: z-index(transhBin);
  box-shadow: 0 1px 4px rgba($black, .3);

  &.trashBin_shown {
    top: $editor-h - 50px;
    opacity: 1;
    pointer-events: auto;
  }
  &.trashBin_active {
    opacity: 1;
    background: $red;
  }
}

.trashBin__icon {
  @include stretch();

  width: 30px;
  height: 30px;
}

@keyframes floating {
  0% {
    margin-top: 0;
  }

  65% {
    margin-top: 5px;
  }
}

.mnstr {
  background-image: url('../../assets/mnstr.png');
  position: absolute;
  left: 50%;
  margin-left: 365px;
  top: 475px;
  height: 160px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  animation: floating 3s infinite;
  z-index: z-index(mnstr);
  pointer-events: none;
}

.editor__examples {
  position: relative;
  z-index: z-index(editorExamples);
  padding-bottom: 40px;
}

.ctaText {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 120px);
  text-align: center;
}