@import '../../global/style/utils.scss';

.editor {
  position: relative;
  width: 750px;
  outline: 3px black solid;

}

.editor__left-panel {
  width: 110px;
  position: absolute;
  left: 0;
  top: 0;
  outline: 1px cyan solid;
  z-index: z-index('editorPanel');
}

.editor__right-panel {
  width: 110px;
  position: absolute;
  right: 0;
  top: 0;
  outline: 1px hotpink solid;
  min-height: 200px;
  z-index: z-index('editorPanel');
}

.editor__photo-taker {
  position: absolute;
  top: 550px;
  z-index: z-index('photoTaker');
}

.photoBg {
  @include stretch;

  bottom: auto;
  width: $editor-w;
  height: $editor-h;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.wrapper {
  flex: 1;
}

.workspace {
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #fff;
}

.resultCanvas {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(.3);
}
