@font-face {
    font-family: 'Gotham';
    src: url('./Gotham-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    src: url('./Gotham-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-style: italic;
    src: url('./Gotham-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    font-style: italic;
    src: url('./Gotham-BoldItalic.woff2') format('woff2');
}
