@import '../../global/style/utils';
@import '../../global/style/btnUtils';

.photoTaker {
  width: 460px;
  height: 590px;
}

.activated {
  background-color: $generalBg;
}

.loader {
  @include stretch();
  opacity: 0;

  &.loader_active {
    opacity: 1;
  }
}

.buttonsBlock {
  position: absolute;
  bottom: $buttonsBottom;
  left: 0;
  right: 0;
  height: 45px;
  z-index: z-index('photoTakerButtons');
  display: flex;
  justify-content: center;
}

.buttonsBlock__inactive {
  opacity: 0;
  pointer-events: none;
}

.inputFileLabel {
  @include button();
  @include buttonTransparent();

  left: auto;
  right: auto;
  bottom: auto;
  display: block;
  position: relative;
  line-height: 41px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  margin-right: 20px;
  user-select: none;
}

.inputFile {
  opacity: 0;
  width: 0;
  height: 0;
  left: -99999px;
}

.photoTaker__webcamBlock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: z-index('photoTakerWebcam')
}

.photoTaker__croppieBlock {
  @include stretch;
  z-index: z-index('photoTakerCroppie')
}

.chooseWebcamBtn {
  @include button(none, true);
  @include buttonTransparent();

  left: auto;
  right: auto;
  bottom: auto;
  position: relative;
  width: 45px;
  cursor: pointer;
  z-index: 2;
}

.chooseWebcamBtn__icon {
  @include resetBtn();
}

